<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Stock Predictor</title>

    <link
        rel="stylesheet"
        href="/style.css"
    >

</head>


<body>

    <div class="container">

        <!-- HEADER -->

        <header>

            <h1>
                Stock Predictor
            </h1>

            <p>
                 Stock Prediction 
            </p>

        </header>


        <!-- SEARCH -->

        <section class="search-section">

            <input
                type="text"
                id="ticker"
                placeholder="Enter stock symbol"
                value="RELIANCE.NS"
            >

            <button
                onclick="predictStock()"
                id="predictButton"
            >
                Predict
            </button>

        </section>


        <!-- LOADING -->

        <div
            id="loading"
            class="loading"
        >
            Downloading data and training model...
        </div>


        <!-- ERROR -->

        <div
            id="error"
            class="error"
        >
        </div>


        <!-- RESULTS -->

        <section class="results">

            <div class="card">

                <h3>
                    Stock
                </h3>

                <p id="stockName">
                    -
                </p>

            </div>


            <div class="card">

                <h3>
                    Current Price
                </h3>

                <p id="currentPrice">
                    -
                </p>

            </div>


            <div class="card">

                <h3>
                    Predicted Price
                </h3>

                <p id="predictedPrice">
                    -
                </p>

            </div>


            <div class="card">

                <h3>
                    Expected Change
                </h3>

                <p id="percentageChange">
                    -
                </p>

            </div>


            <div class="card">

                <h3>
                    Direction
                </h3>

                <p id="direction">
                    -
                </p>

            </div>


            <div class="card">

                <h3>
                    Model MAE
                </h3>

                <p id="mae">
                    -
                </p>

            </div>

        </section>


        <!-- INFORMATION -->

        <section class="info">

            <h2>
                created by
            </h2>

            <p>
                made by vaibhav singh,summit verma .shagun and sachin
            </p>

        </section>

    </div>


    <script
        src="/script.js"
    ></script>

</body>

</html>